@font-face {
    font-family: 'Arial-MT';
    src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: center/cover, rgba(0, 0, 0, 0.5); /* url("../assets/img/bg.jpg") */
    background-blend-mode: multiply;
    transition: background-image 1s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    min-height: 220px;
    padding: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-height: 500px;
    justify-content: flex-start;
    align-items: center;
}

.player-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.audio-about {
    text-align: left;
    margin-bottom: 15px;
}

.volume-btn {
    width: 18px;
    height: 18px;
    background: none;
    outline: none;
    border: none;
    background: url('../assets/svg/volume-up.svg') 50% 50% / cover no-repeat;
    filter: invert(100%);
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.volume-controls {
    margin-bottom: 15px;
}

.volume-btn.muted {
    background: url('../assets/svg/volume-off.svg') 50% 50% / cover no-repeat;
}

.volume-btn:hover,
.volume-btn.muted:hover {
    opacity: 1;
}

.play-list {
    text-align: left;
}

.play-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.audio-time {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 10px;
    margin-bottom: 15px;
}

.progress-container {
    background: rgba(178, 183, 189, 0.5);
    width: 100%;
    height: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.progress {
    background: rgba(24, 99, 211, 0.856);
    height: 100%;
    position: relative;
}

/* .progress::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color:  rgba(211, 24, 211, 0.856);
} */

.play-item:hover {
    opacity: 1;
}

.play-item::before {
    content: '\2713';
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: 900;
}

.item-active::before {
    color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
    opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url('../assets/svg/play.svg');
}

.pause {
    background-image: url('../assets/svg/pause.svg');
}

.play-prev {
    background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
    background-image: url('../assets/svg/play-next.svg');
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;
    text-align: left;
}

.weather-error {
    margin-top: -10px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.city {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.city::placeholder {
    font-size: 20px;
    color: #fff;
    opacity: 0.6;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    min-height: 260px;
    padding: 20px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.slide-prev {
    left: 20px;
    background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
    right: 20px;
    background-image: url('../assets/svg/slider-next.svg');
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;
}

.date {
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
}

.greeting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    font-size: 40px;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.name::placeholder {
    color: #fff;
    opacity: 0.6;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30vh;
    min-height: 160px;
    padding: 20px;
    position: relative;
}

.quotes-block {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.change-quote {
    margin-bottom: 30px;
    background-image: url('../assets/svg/reload.svg');
}

.quote {
    min-height: 32px;
}

.author {
    min-height: 20px;
}

.todo-wrapper {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    overflow: hidden;
}

.todo-show {
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    transition: 0.3s;
}

.todo-show.active {
  background: url(../assets/svg/pause.svg) 50% 50% / cover no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}

.todo {
  display: flex;
  flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    min-width: 300px;
    transition: 0.5s;
    right: -900px;
}

.todo-hide {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  align-self: flex-end;
  outline: none;
  border: none;
  background: url(../assets/svg/close.svg);
  filter: invert(100%);
  cursor: pointer;
  transition: transform 0.3s;
}

.todo-hide:hover {
  transform: rotate(360deg);
}

.todo.hide {
    transform: translateX(900px);
}

.todo-list {
    overflow-x: hidden;
    margin-bottom: 15px;
    max-height: 320px;
    overflow-y: auto;
}

.todo-controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.todo-input {
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    font-size: 16px;
}

.todo-add-btn {
    outline: none;
    border: none;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    flex: 1 1 auto;
}



.list-item {
    list-style: none;
    display: flex;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    align-items: center;
}

.list-item-delete {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.list-item.checked {
    background-color: darkgrey;
    opacity: 0.5;
}

.list-item.delete {
    animation: delete 0.5s ease-in-out;
}

@keyframes delete {
    0% {
        opacity: initial;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }

    .greeting-container {
        min-height: 40px;
        font-size: 32px;
    }

    .greeting {
        padding: 5px;
    }

    .name {
        font-size: 32px;
        padding: 5px;
    }
}
