html {
  scroll-behavior: smooth;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.container-content {
  width: 1200px;
  margin: 0 auto;
}

/* ----------- HEADER ------------ */

.header {
  position: relative;
  z-index: 2;
}

.header .container {
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  background: rgba(242, 120, 92, 0.7);
  position: relative;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 25px 0;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__title {
  padding-bottom: 3px;
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-transform: capitalize;
  color: #ffffff;
}

.header__title::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  background-image: url(../img/svg/logo.svg);
}

.nav__list {
  display: flex;
  margin-left: -29px;
  margin-top: 4px;
  justify-content: space-between;
  gap: 42px;
}

.link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-transform: capitalize;
  color: #ffffff;
  transition: color 0.5s;
}

.link:hover {
  color: #0d606f;
}

.header__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  background-color: #0d606f;
  transition: background-color 0.5s;
}

.header__button .btn {
  padding: 10px 30px;
  background: transparent;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.button {
  transition: background-color 0.5s;
}

.button:hover,
.header__button:hover,
.preview__button:hover {
  background-color: #0d6f49;
}

.header__burger {
  display: none;
}

.burger {
  position: absolute;
  right: -250px;
  width: 165px;
  height: 250px;

  background: #f2785c;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  padding-right: 15px;
  transition: 0.5s;

  display: none;
}

.burger__btn {
  margin: 8px 0 5px 8px;
}

.burger__btn_icon {
  height: 30px;
  width: 30px;
  background: url(../img//svg/cross.svg) 50% 50% no-repeat;
}

.burger__menu {
  align-self: flex-end;
}

.burger__link {
  margin-bottom: 10px;
  text-align: right;
}

.burger__link > a {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

@keyframes move-left {
  0% {
    right: -250px;
  }

  100% {
    right: 0%;
  }
}

@keyframes move-right {
  0% {
    right: 0%;
  }

  100% {
    right: -250px;
  }
}

@keyframes bgc-black {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes bgc-none {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }

  100% {
    background-color: transparent;
  }
}

/* ----------- MAIN ------------- */

.main {
  flex: 1 1 auto;
}

/* --------- PREVIEW --------------- */

.preview {
  height: 765px;
  margin-top: -90px;
  margin-bottom: 81px;
  padding-top: 122px;
  background: url(../img/background/bg-1.jpg);
}

.preview__container {
  max-width: 892px;
}

.preview__title {
  margin: 0 0 32px 0;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}

.preview__subtitle {
  margin-bottom: 46px;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.preview__search {
  display: flex;
  justify-content: space-between;
  padding: 18px 18px 18px 41px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.7);
}

.preview__input,
.preview__input::placeholder {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
  background-color: transparent;
}

.preview__button {
  display: inline-block;
  padding: 13.5px 33.5px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  transition: background-color 0.5s;
}

/* --------- STEPS ----------- */

.steps {
  margin-bottom: 96px;
}

.steps__container {
  text-align: center;
}

.steps__title {
  margin-bottom: 40px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #f2785c;
}

.steps__row {
  display: flex;
  padding: 0 12px 0 12px;
}

.steps__column {
  display: flex;
  flex: 1 1 33.33%;
  text-align: center;
}

.steps__item {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

.steps__icon {
  margin-bottom: 30px;
}

.steps__column:nth-child(1) {
  justify-content: flex-start;
}

.steps__column:nth-child(2) {
  justify-content: center;
}

.steps__column:nth-child(3) {
  justify-content: flex-end;
}

/* ------------ DESTINATIONS --------------- */

.destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinations__title {
  margin-bottom: 46px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #f2785c;
}

.slider__inner {
  position: relative;
  display: flex;
  margin-bottom: 24px;
  gap: 60px;
  transition: 0.3s;
  justify-content: center;
  /* overflow: hidden; */
}

.controls.left {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
  font-size: 0;
}

.controls.right {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: transparent;
  font-size: 0;
}

.slider {
  position: relative;
  overflow: hidden;
}

/* --------- */
.photo__wrapper {
  position: relative;
  flex: 1 0 800px;
}

/* ------- */
.slider__inner .photo__wrapper::before {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider__inner .photo__wrapper:nth-child(2):before {
  content: "spain";
}

.slider__inner .photo__wrapper:nth-child(3):before {
  content: "japan";
}

.slider__inner .photo__wrapper:nth-child(4):before {
  content: "usa";
}

.slider__inner .photo__wrapper:last-child:before {
  content: "spain";
}

.slider__inner .photo__wrapper:first-child {
  opacity: 0.5;
}

.slider__inner .photo__wrapper:last-child {
  opacity: 0.5;
}

.destinations__photo {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.slider__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.slider__button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
  cursor: pointer;
}

.slider__button.active {
  background: #f2785c;
}

.destinations__button {
  margin-bottom: 80px;
}

.button {
  position: relative;
  display: inline-block;
  padding: 13.5px 33.5px 13.5px 83px;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}

.button::before {
  content: "";
  position: absolute;
  top: 13.5%;
  left: 13.5%;
  width: 40px;
  height: 40px;
  background: url(../img/svg/right-arrow.svg) 50% 50% / contain no-repeat;
  color: #ffffff;
}

/* --------- STORIES -------- */

.stories__wrap {
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}

.stories__container {
  padding-bottom: 62px;
  background: url(../img/background/bg-2.jpg);
}

.stories__title {
  margin-bottom: 40px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  text-align: center;
  color: #f2785c;
}

.stories__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories__column .button {
  margin-top: 10px;
  padding-right: 40px;
  margin-bottom: 40px;
}

.article {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.article__image {
  flex: 1 1 400px;
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0d606f);
  overflow: hidden;
}

.article__column {
  flex: 1 1 760px;
}

.stories__column .article:last-child {
  margin-bottom: 40px;
}

.article__title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0d606f;
  margin-bottom: 24px;
}

.article__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

.article__link {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #0d606f;
  transition: color 0.5s;
}

.article__link:hover {
  color: #df4d13;
  text-decoration-line: underline;
}

/* -------- FOOTER ---------- */

.footer {
  position: relative;
  margin-top: -60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.github {
  display: none;
}

.rs-school {
  display: none;
}

.author__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author__social__link .author__social__img {
  aspect-ratio: 16 / 9;
  width: 61px;
  height: 35px;
  filter: invert(100%);
}

.social {
  display: flex;
  gap: 20px;
}

/* ----------------- POPUP ---------------------- */
.popup__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.popup__container {
  display: flex;
  flex-direction: column;
  width: 560px;
}

.popup {
  background: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 25px 45px;
  width: 650px;
  position: absolute;
  top: -800px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes popup-move-bottom {
  0% {
    top: -800px;
  } 100% {
    top: 7%;
  }
}

@keyframes popup-move-top {
  0% {
    top: 7%;
  } 100% {
    top: -800px;
  }
}

.popup__title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0d606f;
  margin-bottom: 30px;
  text-align: center;
}

.popup__sign-in {
  background: #1877f2;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.sign-in__icon {
  margin-right: 10px;
}

.sign-in-facebook {
  color: #ffffff;
  margin-bottom: 20px;
  padding: 15px 0;
  text-align: center;
}

.sign-in-google {
  color: #0d606f;
  background: #ffffff;
  padding: 15px 0;
  margin-bottom: 30px;
}

.popup__alt {
  margin-bottom: 10px;
}

.popup__alt_text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__alt_text::before {
  content: "";
  display: inline-block;
  width: 261px;
  height: 1px;
  background-color: rgba(13, 96, 111, 0.5);
}

.popup__alt_text::after {
  content: "";
  display: inline-block;
  width: 261px;
  height: 1px;
  background-color: rgba(13, 96, 111, 0.5);
}

.input-title {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d606f;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  background: #ffffff;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08),
    inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  line-height: 54px;
  font-size: 25px;
  padding: 0 15px;
  font-family: "Aleo";
  font-weight: normal;
  color: #0d606f;
}

.email-input {
  margin-bottom: 20px;
}

.pswrd-input {
  margin-bottom: 25px;
}

.form__submit {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #ffffff;
  padding: 14px 0;
  width: 100%;

  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  margin-bottom: 10px;
}

.popup__forgot {
  text-align: center;
  margin-bottom: 24px;
}

.popup__link {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0d606f;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  text-decoration: underline;
}

.popup__line {
  width: 100%;
  height: 1px;
  background-color: rgba(13, 96, 111, 0.5);
  margin-bottom: 21px;
}

.popup__register {
  text-align: center;
}

.register__text {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.to-hide.active {
  display: none;
}

.form__submit.to-change.active {
  margin-bottom: 26px;
}

@media (max-width: 390px) {
  .popup {
    width: 390px;
    padding: 15px 0;
  }
  .popup__container {
    width: 375px;
    margin: 0 auto;
  }
  .sign-in-google {
    padding: 15px 0;
  }
}

/* ------------------ POPUP END ------------------- */

/* ----------- ADAPTIVE --------------- */
@media (max-width: 390px) {
  .container {
    max-width: 390px;
  }

  .container-content {
    max-width: 360px;
  }

  .header .container {
    background: none;
    box-shadow: none;
    background: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%);
  }

  .header__burger {
    display: block;
  }

  .burger {
    display: flex;
  }

  .header,
  .header.container {
    position: relative;
  }

  .burger__wrap {
    z-index: 10;
    min-height: 1475px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
  }

  .header__container {
    height: 84px;
  }

  .header__title {
    font-size: 0;
  }

  .header__title {
    margin-bottom: -39px;
  }

  .header__burger {
    margin-top: 34px;
    padding-right: 5px;
  }

  .nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .preview {
    background: url(../img/background/bg-1-mobile.jpg) no-repeat;
    height: 251px;
    margin-top: -84px;
    margin-bottom: 20px;
    padding-top: 142px;
  }

  .preview__title,
  .preview__subtitle {
    display: none;
  }

  .preview__button {
    font-size: 11px;
    line-height: 15px;
    padding: 7.5px 9px;
  }

  .preview__input,
  .preview__input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }

  .preview__input {
    padding-top: 3px;
  }

  .preview__search {
    padding: 9px 9px 9px 16px;
    margin-bottom: 61px;
  }

  .steps {
    margin-bottom: 20px;
  }

  .steps__title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .steps__column {
    display: flex;
    flex: 0 1;
    flex-basis: content;
    text-align: center;
  }

  .steps__icon {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    border-radius: 16px;
  }

  .steps__item {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #0d606f;
  }

  .steps__column:nth-child(1) {
    justify-content: stretch;
    text-align: left;
    flex-basis: 80px;
  }

  .steps__column:nth-child(2) {
    text-align: center;
    flex-basis: 130px;
  }

  .steps__column:nth-child(2) .item__title {
    padding-left: 3px;
  }

  .steps__column:nth-child(3) {
    justify-content: flex-end;
    flex-basis: 82px;
  }

  .steps__column:nth-child(3) {
    text-align: right;
  }

  .steps__row {
    justify-content: space-between;
    padding: 0;
  }

  .destinations__title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  .slider__inner {
    position: relative;
    justify-content: flex-start;
    padding: 0 15px;
    /* transform: translateX(0px); */
  }

  .slider__arrow-left,
  .slider__arrow-right {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../img/svg/arrow.svg) 50% 50% no-repeat;
    z-index: 1;
  }

  .slider__arrow-right {
    top: 43%;
    right: 18px;
  }

  .slider__arrow-left {
    top: 43%;
    left: 18px;
    transform: rotate(180deg);
    opacity: 0.5;
  }

  .photo__wrapper {
    flex: 1 0 360px;
  }

  #destinations
    > div.destinations__slider.slider
    > div.slider__inner
    > div:nth-child(1),
  #destinations
    > div.destinations__slider.slider
    > div.slider__inner
    > div:nth-child(5) {
    display: none;
  }

  .slider__inner {
    margin-bottom: 10px;
  }

  .slider__inner .photo__wrapper::before {
    top: 8px;
    left: 15px;
    font-size: 20px;
    line-height: 26px;
  }

  .slider__buttons {
    gap: 6px;
    position: absolute;
    z-index: 1;
    left: 45%;
    bottom: -8%;
  }

  .slider__button {
    width: 8px;
    height: 8px;
  }

  .destinations__button .button {
    font-size: 11px;
    line-height: 15px;
    padding: 7.5px 12px 7.5px 28px;
  }

  .destinations__button .button::before {
    width: 10px;
    height: 10px;
    top: 10px;
  }

  .destinations__button {
    margin: 0;
  }

  .destinations {
    margin-bottom: 20px;
  }

  .stories__title {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }

  .stories__row.article {
    margin-bottom: 15px;
  }

  .article {
    gap: 10px;
  }

  .article__image {
    flex: 1 0 155px;
  }

  .article__title {
    font-family: "Aleo";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .article__text {
    display: -webkit-box;
    font-size: 9px;
    line-height: 11px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .article__column {
    position: relative;
  }

  .article__link {
    position: absolute;
    bottom: 23px;
    font-size: 9px;
    line-height: 0;
    display: inline-block;
    margin-bottom: -15px;
  }

  .stories__wrap {
    padding-top: 10px;
    padding-bottom: 13px;
  }

  .stories__container {
    padding-bottom: 0;
    background: url(../img/background/bg-2-mobile.jpg) no-repeat;
  }

  .stories__row {
    margin-bottom: 0;
  }

  .stories__button .button {
    font-size: 11px;
    line-height: 15px;
    padding: 7.5px 13px 7.5px 29px;
    margin-bottom: 0;
  }

  .stories__button .button::before {
    width: 10px;
    height: 10px;
    top: 10px;
  }

  .stories__column .button {
    margin-top: 0;
  }

  .stories__row.article:nth-child(4) {
    margin-bottom: 10px;
  }

  .stories__container {
    padding-bottom: 65px;
  }

  .footer {
    position: relative;
    margin-top: -65px;
  }

  .author__social {
    display: none;
  }

  .footer__text {
    display: none;
  }

  .footer__container {
    justify-content: space-between;
    align-items: center;
    height: 65px;
  }

  .social {
    padding-left: 37px;
  }

  .github {
    display: block;
  }

  .rs-school {
    display: block;
  }

  .github__img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
  }

  .rs-school__img {
    width: 60px;
    height: 30px;
    filter: invert(100%);
  }
}

/* ------------------------------- */
